﻿
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Finding out the BPM of a song using Javascript</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <meta name="description" content="Demo of an algorithm to calculate tempo of a track using the Audio API.">
</head>
<body>
    <h1 class="text-center"> HIITunes </h1>
    <div id="omniButton" class="text-center">
        <span>
            <i id="omniButtonIcon" class="fa fa-plus-square-o" aria-hidden="true">  </i>
            <input class="fileInput" type="file" id="drop_zone" accept=".mp3" onchange="updateFileList()" multiple/>
        </span>
    </div>
    <div id="omniButtonPrompt" class="text-center">
        <p>
            Upload Some Serious Songs!
        </p>
    </div>


    <div class="userPrompts text-center">
        <div>
            Peaks per Second:
            <input id="userPPS" type="number" max="10" value="4"/>
        </div>
            <div>
            Breadth of Section (Higher number means less sections):
            <input id="userSectionMargin" type="number" max="5" value="1.25">
        </div>
        <button id="altButton" class="btn-block" onclick="getExampleAudio()"> Analyze An Example Song! </button>
    </div>
    <div id="fileList" class="fileList">
    </div>



    <div id="result">
        <div id="text"></div>
        <div id="durationTracker"></div>
        <div>
            <svg width="100%" height="40" id="svg"></svg>
            <button id="play">Play track</button>
        </div>



        <audio id="audio" accept=".mp3"></audio>


    </div>
    


    <div id="sectionAnalysis">



    </div>

    <script type="text/javascript" src="bower_components/mp3-parser/lib/lib.js"></script>
    <script type="text/javascript" src="bower_components/mp3-parser/lib/xing.js"></script>
    <script type="text/javascript" src="bower_components/mp3-parser/lib/id3v2.js"></script>
    <script type="text/javascript" src="bower_components/mp3-parser/main.js"></script>
    <script src="scripts/musicWorker/musicWorker.js"></script>
    <script src="scripts/script.js"></script>
</body>
</html>
