* {
	box-sizing: border-box;
	font-family: Helvetica, Arial;
}
#omniButton{
	color: #ffffff;
	text-shadow: 1px 1px 1px;
    font-size: 22vw;
	overflow: visible;
    position: relative;
	margin:auto;
	width: 50%;
	cursor: pointer;
}

#wordsForUser{
	font-size: 4vw;
	height: 9vw;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /* number of lines to show */
	width:50%;
	margin:auto;
}

#omniButtonPrompt{
	font-size: 1em;
}

.omniButtonIconNoVisualization{
	z-index: 2;
	position: relative;
	padding-top: 0.95vw;
	width: 25vw;
	height: 25vw;
	overflow: visible;
}
.omniButtonIconVisualization{
	z-index: 2;
	position: relative;
	width: 50vw;
	height: 50vw;
	overflow: visible;

}

#musicVisualizer{
	z-index: 4;
	top: -15vw;
	left: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: visible;
}
.userPrompts{
	margin: auto;
	width: 50%;
}
.fileEntry{
	background-color:#6E6E6E;
	width: 50%;
	margin: auto;
	padding: 1vmin;
	font-size: 1vmin;
	border-color: #2c0703;
	border-style: solid;
	border-width: 1px;
}

#altButton{
	background-color: #3F3F3F;
	border: none;
	padding: 5px;
}

.fileInput {
    cursor: pointer;
    position:absolute;
    top: 0;
    right: 0;
    /*This makes the button huge so that it can be clicked on*/
	font-size: 1vw;
	/*Opacity settings for all browsers*/
	z-index: 2;
	width: 100%;
	height: 100%;

	opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	
}


body {
	font-size: 14px;
	margin: 0 auto;
	background: #040404;
	color:#6e6e6e;
}

@media (min-width: 600px) {
	body {
		font-size: 16px;
	}
}

a {
	color: #2b7bb9;
	text-decoration: none;
}
h1 {
	line-height: 1.2em;
}

h1, h2, p, form, ul, ol, svg {
	margin-bottom: 1em;
}

ul, ol {
	margin-left: 2em;
}

input[type=text] {
	padding: 0.5em;
	width: 100%;
	border: 1px solid #ddd;
	font-size:1.1em;
	display:block;
	text-align: center;
}
input[type=submit] {
	padding: 0.5em;
	border: 1px solid #ccc;
	background-color: #ddd;
	cursor: pointer;
	font-size:1em;
	display:block;
	width: 100%
}

#guess, #text {
	margin-bottom: 1em;
}

#play {
	padding: 0.5em;
	border: 1px solid #ccc;
	background-color: #ddd;
	cursor: pointer;
	font-size:1em;
	display:block;
	width: 100%
}

#result {
	padding: 1em;
	font-size: 1.3em;
	margin-bottom: 1em;
}

svg {
	border: 1px solid #eee;
}

svg #progress {
	fill: red;
}

.small {
	font-size: 0.8em;
}

form {
	padding: 0.5em;
}

/* FOOTER BOXES */
footer {
	border-top: 1px solid rgba(0,0,0,0.15);
	padding: 1em;
}

footer h3 {
	color: rgba(0,0,0,0.3);
	text-transform: uppercase;
	font-size: 80%;
	margin-bottom: 0.5em;
}

/* MEDIA OBJECT */
.media, .bd {_overflow:visible; zoom:1;}
.media .img {float:left;}

.songSection {
	padding: 0.5em;
	border: 1px solid #ccc;
	font-size:1em;
	display:block; 
	color: rgba(0,0,0,0.3);
}

/* ABOUT BOX */
.about .avatar-image {
	border-radius: 100%;
	height: 80px;
	width: 80px;
	margin-right: 10px;
}

#analysisProgress {
	font-weight: bold;
	font-size: 150%;
	text-align: center;
}

.about .name {
	font-weight: bold;
	font-size: 110%;
	margin-top: 5px;
	margin-bottom: 2px;
}

.about > .media {
	margin-top: 10px;
}

.twitter {
	margin-bottom: 3px;
}
.twitter-logo {
	margin-top: 2px;
}